/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}



h1 {
    color: white;
    text-align: center;
}



p {
    color:black;
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    font-weight: normal;
    align-items: center;

}

.image {
    width:1500px;
    height: 500px;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

/* Responsive Styles */
/* Responsive Styles */
@media (max-width: 768px) {
    header {
        padding: 15px;
    }

    main {
        padding: 15px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    main {
        padding: 10px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}

